<toaster-container [toasterconfig]="config"></toaster-container>
<div class="modal-header">
  <span>Customer</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- {{ modalContent }} -->

  <nb-card><nb-card-body>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Name * </label>
            <input type="text" required class="form-control" id="mdesc" [(ngModel)]="dialog.cust_name"
              placeholder="customer name" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Email * </label>
            <input type="text" required class="form-control" id="mdesc" [(ngModel)]="dialog.cust_email"
              placeholder="customer email" />
          </div>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-sm-6">
          <div class="form-group">
            <label>Item group1 * </label>
            <input
              type="text"
              required
              class="form-control"
              id="mdesc"
              [(ngModel)]="dialog.itemgroup1"
              placeholder="Itemgroup1"
            />
          </div>
        </div>         -->
        <div class="col-sm-6">
          <div class="form-group">
            <label>Mobile * </label>
            <input type="text" required class="form-control" id="mdesc" [(ngModel)]="dialog.cust_mobile" placeholder="customer mobile" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="active">Active</label>
            <ui-switch class="form-control" style="border: none" [(ngModel)]="dialog.active"></ui-switch>
          </div>
        </div>
      </div>
    
    </nb-card-body>
    <nb-card-footer>
      <button class="btn btn-md btn-primary" (click)="SaveData()">
        Save changes
      </button>
    </nb-card-footer>
  </nb-card>
</div>