.parent-row {
    background-color: #f0f8ff !important; /* Light blue for parent rows */
    font-weight: bold;         /* Highlight parent rows */
  }
  
  .child-row {
    background-color: #ffffff !important; /* Normal background for child rows */
  }
  
  td {
    /* Apply transition for smoother appearance */
    transition: padding-left 0.3s;
  }
  
  .custom-toggle {
    font-size: 1.5rem; /* Make toggle arrow bigger */
  }
  
  .custom-toggle nb-icon {
    font-size: 1.5rem; /* Increase icon size inside the toggle */
  }
  .large-toggle nb-tree-grid-row-toggle {
    font-size: 24px  !important;; /* Set the desired size */
    width: 30px; /* Adjust width */
    height: 30px; /* Adjust height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.large-toggle svg {
    font-size: 24px  !important;; /* Adjust the size of the icon */
}
  